@font-face {
  font-family: Poppins-Bold;
  src: url("../../../assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../../../assets/fonts/poppins/Poppins-Regular.ttf");
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-custom {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-custom {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrap-custom-sign {
  width: 700px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 100%;
}

.login-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.container-login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.login-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;

  width: 220px;
  height: 50px;
  border-radius: 80px;
  text-align: center;
  border: 3px solid #34465D;
  background: #34465D;
  display: block;
  text-decoration: none;
  color: white;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.sign-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;

  width: 220px;
  height: 50px;
  border-radius: 80px;
  text-align: center;
  border: 3px solid #3B9CD6;
  background: #3B9CD6;
  display: block;
  text-decoration: none;
  color: white;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.test2 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;

  width: 110px;
  height: 50px;
  border-radius: 80px;
  text-align: center;
  border: 3px solid #3B9CD6;
  background: #3B9CD6;
  display: block;
  text-decoration: none;
  color: white;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.sign-btn:hover {
  background: darken(#3B9CD6, 10%);
  border: 3px solid darken(#3B9CD6, 10%);
}

.login-btn:hover {
  background: darken(#34465D, 10%);
  border: 3px solid darken(#34465D, 10%);
}

.normal-text {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.bolded-text {
  font-family: Poppins-Bold;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

.image-login {
  width: 60%;
  margin-bottom: 26px;
  max-width: 40%;
  max-height: 40%;
}

.btn-white-modified {
  color: inherit;
  background: white;
  padding: 0px;
  margin-bottom: 30px;
}

.btn-white-modified:hover {
  transition: 0.3s;
  color: darken(#676a6c, 30%);
}

.padding-bottom {
  padding-bottom: 26px;
}
.padding-top {
  padding-top: 70px;
}
