<div class="row">
    <div class="col-lg-12">
        <!-- <h3 class="pull-left">Clientes</h3> -->
        <button type="button" class="btn btn-primary pull-right" (click)="changeScreen('new')">
            <i class="fas fa-plus m-r-10"></i>Novo Orçamento
        </button>
        <!-- <button type="button" class="btn btn-primary pull-right m-r-10" (click)="changeScreen('cashback')">
                <i class="fas fa-search m-r-10"></i>Consultar Cashback
            </button> -->
    </div>
    <!-- <div class="col-lg-12">
            <h3>Filtros</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="code">Código</label>
                        <input type="text" id="code" name="code" class="form-control form-control-sm"
                            [(ngModel)]="filterCode">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="code">Data</label><br>
                        <dp-date-picker [(ngModel)]="filterPurchaseDate" theme="dp-material" [config]="datePickerConfig">
                        </dp-date-picker>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="code">Status</label>
                        <select id="filter_status" name="filter_status" class="form-control form-control-sm"
                            [(ngModel)]="filterStatus">
                            <option value=""></option>
                            <option value="APPROVED">Aprovado</option>
                            <option value="ANALYZING">Em validação</option>
                            <option value="REPROVED">Reprovado</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button class="btn btn-xs btn-secundary m-r-5" (click)="clearFilter()"
                            [disabled]="!filterCode && !filterPurchaseDate && !filterStatus"><i
                                class="fas fa-trash m-r-10"></i>Limpar</button>
                        <button class="btn btn-xs btn-success" (click)="applyFilter()"><i
                                class="fas fa-check m-r-10"></i>Aplicar</button>
                    </div>
                </div>
            </div>
        </div> -->
    <app-loader class="full-size" [condition]="isLoading"></app-loader>
    <div class="col-lg-12 m-t-30" *ngIf="allQuotes.meta.totalItems > 0 && !isLoading">
        <table class="table-bordered m-b-30" style="width: 100%;">
            <thead>
                <th style="width: 50%;">Nome</th>
                <th style="width: 10%;">Cadastrado em</th>
                <th style="width: 10%;">Validade</th>
                <th style="width: 10%;">Preço</th>
                <th style="width: 10%;">Meio de Pagamento</th>
                <th style="width: 10%;">Opções</th>
            </thead>
            <tbody *ngFor="let quote of allQuotes.data; let i = index">
                <td>{{quote?.name}}</td>
                <td>{{quote?.createdAt | date: 'dd/MM/yyyy HH:mm':'BRT'}}</td>
                <td>{{quote?.validUntil | date: 'dd/MM/yyyy HH:mm':'BRT'}}</td>
                <td>{{quote?.total | currency:'BRL':true}}</td>
                <td [ngSwitch]="quote?.paymentMethod">
                    <ng-container *ngSwitchCase="'INVOICE'">Boleto Bancário</ng-container>
                    <ng-container *ngSwitchCase="'CREDIT_CARD'">Cartão de Crédito</ng-container>
                    <ng-container *ngSwitchCase="'MONEY'">Dinheiro</ng-container>
                </td>
                <td>
                    <button class="btn"><i class="fas fa-edit" (click)="enterDetails(quote._id)"></i></button>
                    <button class="btn" style="color: red;" (click)="deleteQuote(quote._id, i)"><i
                            class="fas fa-trash"></i></button>
                </td>
            </tbody>
        </table>
        <div class="col-12 center-content">
            <ngb-pagination [rotate]="true" maxSize="5" [collectionSize]="allQuotes.meta.totalItems" [(page)]="page"
                pageSize="10" (pageChange)="changePage($event)">
            </ngb-pagination>
        </div>
    </div>

    <div class="col-lg-12 m-t-30 center-content" *ngIf="allQuotes.meta.totalItems === 0 && !isLoading">
        <h4 style="color: red;">Não existem nenhum orçamento cadastrado</h4>
    </div>
</div>