/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
  min-height: 100%;
  height: auto;
  margin: 0;
}

#toast-container > div {
  opacity: 1;
}

.btn-primary {
  background: #159588 !important;
  border: #159588 !important;
}

.btn-secundary {
  background: #6C757D !important;
  border: #6C757D !important;
  color: white;
}

.btn-primary:hover {
  background: darken(#159588, 10%) !important;
  border: darken(#159588, 10%) !important;
}

.btn-secundary:hover {
  background: darken(#6C757D, 10%) !important;
  border: darken(#6C757D, 10%) !important;
  color: white;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.m-l-15 {
  margin-left: 15px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.p-t-70 {
  padding-top: 70px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-b-30 {
  margin-bottom: 30px;
}
.m-b-60 {
  margin-bottom: 60px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-size {
  width: 100%;
  height: 100%;
}
